<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url(/Content/Img/fondo.jpg);
        }
        footer {
            background-color: #222;
            color: #fff;
            font-size: 14px;
            bottom: 0;
            position: fixed;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 999;
        }

            footer p {
                margin: 10px 0;
            }

            footer i {
                color: red;
            }

            footer a {
                color: #3c97bf;
                text-decoration: none;
            }
    </style>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi Aplicacion ASP.NET</title>
    @Styles.Render("~/Content/Css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <br />
    <br />

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Priv-Company", "Index", "Home", new { area = "" }, new { style = "font-family: Georgia, 'Times New Roman', Times, serif;",@class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Usuario", "Query", "User")</li>
                    <li>@Html.ActionLink("Autos", "Query", "Auto")</li>
                    <li>@Html.ActionLink("Cerrar sesion", "Logoff", "CerrarSession")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ITLA - Aplicacion Web ASP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
